body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer{
  margin-top: 0;
  padding: 2rem;
  background-color: rgb(235, 195, 64);
  position: flex;
  bottom: 10rem;
  left: 10rem;
  width: 100%;
  padding-bottom:1px;
}


body {
  background-color: #2d487e;
  color: rgb(218, 29, 29);
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

div.c {
  text-align: left;
  text-decoration: underline;
  padding-left: 50px;
} 


