* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #555;
  color: white;
  display: flex;
  justify-content:space-around;
  align-items: stretch;
  gap: 2rem;
  padding: 2rem 2rem;
}

.site-title {
  font-size: 2rem;
  text-align: center;
  padding: 5rem;
}

.nav ul {
  padding: .5rem;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: silver;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: green;
}

.nav li:hover {
  background-color: #777;
}

.membck {
  background-image: -webkit-linear-gradient(rgba(246,219,162,255),rgb(223, 182, 91));
}

.App {
  text-align: center;
}

.bck {
  background-image: -webkit-linear-gradient(red,lightgreen,green);
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bold {
font-weight: bolder;
}